<h1>Products#index</h1>


<% @products.each do |product| %>

<p>Name: <%= product.name %></p>
<p>Description: <%= product.description %></p>
<p>Price: $<%= product.formatted_price %></p>
<% end %>

<%= link_to 'New', new_product_path %>